{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Об авторе</h1>
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Author">
    </div>
    <div class="col-md-8 text-justify d-flex align-items-center">
        <p>
            Зло — это зло. Меньшее, бо́льшее, среднее — всё едино, пропорции условны, а границы размыты. Я не святой отшельник, не только одно добро творил в жизни. Но если приходится выбирать между одним злом и другим, я предпочитаю не выбирать вообще.
        </p>
    </div>
</div>
{% endblock %}